<div>
  <br>
  <h4>secutiry culture</h4>
  <p>
    <a href="http://www.crimethinc.com/texts/atoz/security.php">What is security culture?</a>
    || A brief introductory zine on security culture and practice by Crimethinc.
  </p>
  <p>
    <a href="https://itsgoingdown.org/activists-guide-information-security/">An Activist's Guide to Online Security</a>
    || The guide provides an excellent introduction to digital security, covering topics ranging from using the Internet anonymously to how to encrypt your computer.
  </p>
  <br>
  <h4>surviellance</h4>
  <p>
    <a href="https://www.aclu.org/issues/national-security/privacy-and-surveillance">Privacy and Surveillance</a>
    || The ACLU's brief introduction to the many forms of surveillance we live under,
    along with some useful links.
  </p>
  <p>
    <a href="https://prisonbooks.info/2014/10/24/how-the-surveillance-state-changes-our-everyday-lives/#more-5846">How the Surveillance State Changes Our Everyday Lives</a>
    || A Vice article (link goes to Prison Books website) about the ways in which
    we help the state monitor us.
  </p>
  <br>
  <h4>online safety</h4>
  <p>
    <a href="https://itsgoingdown.org/71-days-prepare-first-executive-orders/">A list I'll parse later</a>
    || A list of references I'll look through and organize later.
  </p>
  <br>
  <h4>the police state</h4>
  <p>

  </p>
</div>
